/* HEADER */
.site-header .container,
.logo-wrapper {
    justify-content: space-between;
    align-items: center;
}

header.site-header {
    z-index: 9999;
}

.main-nav li {
    list-style: none;
}

.main-nav li a,
.call-us a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-manrope);
}

.call-us {
    padding-left: 35px;
}

.call-us a img {
    padding-right: 5px;
}


.main-nav li a:hover,
.call-us a:hover {
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(85 85 85);
}

.main-nav ul li a {
    display: block;
    margin: 0 8px;
    padding: 5px 5px;
}

.nav-wrapper.flex-container {
    justify-content: center;
    align-items: center;
}

.main-button {
    color: white;
    background-color: var(--button-blue);
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 125%;
}

img.main-logo {
    padding: 30px 0;
}

.main-button img {
    margin-right: 5px;
}