/* @media all and (max-width:1400px) {
    .site-header {
        
    }
} */
@media all and (max-width:1400px) {

    /* NAVIGATION */
    .logo-wrapper.flex-container {
        margin-left: 20px;
    }

    .site-header .flex-container {
        width: 100%;
    }

    .nav-wrapper.flex-container {
        justify-content: end;
        margin-right: 40px;
    }

    .call-us {
        min-width: fit-content;
    }

    .logo-wrapper.flex-container {
        justify-content: start;
    }

    .nav-wrapper .main-button {
        display: none;
    }



    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .main-nav .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 50%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        right: 0;

    }
}

@media all and (max-width:1220px) {

    .services-top,
    .services-bottom {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .image-wrapper {
        width: 80%;
    }

    .our-services .price-list {
        width: fit-content;
        padding: 0;
        display: grid;

    }

    .image-wrapper {
        margin-top: 20px;
    }

    .benefits-wrapper {
        grid-template-columns: 1fr 1fr;
        margin: 0 30px;
    }

    /* WELCOME SECTION */
    section.welcome {
        background: none;
        background-color: var(--light-blue);
    }

    section.welcome .container {
        height: 700px;
    }

    .section-content {
        display: flex;
        align-items: center;
    }

    .welcome-right {
        display: none;
    }

    .welcome-left {
        width: 100%;
    }

    .section-content {
        width: 100%;
        text-align: center;
    }

    .services .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 120px 0;
        justify-items: center;
    }

    .service {
        width: 88%;
    }

    .services .container.service:last-child {
        width: 100%;
    }

    .about-us-section .container {
        margin-left: 30px;
    }

    .services-top,
    .services-bottom {
        padding: 0px 20px 66px 20px;
    }

    /* FORM SECTION */
    .form-section .container {
        gap: 0;
        padding-left: 20px;
    }

    /* OUR BLOG SECTION */
    .our-blog .container {
        padding: 80px 0;
    }

    .blog-wrapper {
        gap: 20px;
        margin: 0 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .blog {
        width: 100%;
    }

    /* FOOTER */
    footer .container {
        padding: 0 30px;
    }

    li.social-media-icon {
        min-width: 49px;
    }

    .top-section {
        padding-right: 30px;
    }
}

@media all and (max-width:930px) {
    .blog-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width:890px) {
    .about-us-section .container.flex-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 60px 0;
    }

    .content-left {
        width: 100%;
        height: 580px;
        padding-right: 68px;
    }

    .content-wrapper {
        width: 100%;
        text-align: center;
    }

    .picture-right {
        width: 70%;
    }

    /* FORM SECTION */
    .form-section .container {
        flex-direction: column;
    }

    .form-section .left-side {
        width: 100%;
    }

    .form-section .form {
        width: 80%;
        margin-top: 20px;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* FOOTER */
    .bottom-section.flex-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bottom-section.flex-container .list {
        width: 100%;
    }

    .bottom-section {
        gap: 0px;
    }

}

@media all and (max-width:700px) {
    header.site-header {
        max-height: 70px;
    }

    .logo-wrapper .main-logo {
        width: 230px;
    }

    div.call-us {
        position: fixed;
        bottom: 0;
        left: 0;
        align-content: center;
        background-color: var(--light-blue);
        text-align: center;
        right: 0;
        padding: 11px 15px;
        border: solid 1px;
        border-color: var(--button-blue);
    }

    .testimonials-cards {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-card.flex-container {
        width: 80%;
    }

    .services .container {
        grid-template-columns: 1fr;
        margin: 60px 0;
        justify-items: center;

    }

    .service {
        text-align: center;
    }

    .top-section {
        padding-right: 57px;
    }

    .copyright {
        height: 124px;
    }
}

@media all and (max-width:635px) {
    .blog-wrapper {
        grid-template-columns: 1fr;
    }

    .bottom-section.flex-container {
        grid-template-columns: 1fr;
    }
}

@media all and (max-width:550px) {
    .benefits-wrapper {
        grid-template-columns: 1fr;
    }

    .benefit {
        text-align: center;
    }

    .top-section.flex-container {
        flex-direction: column;
    }

    .top-section img.main-logo {
        padding-bottom: 0px;
    }
}

@media all and (max-width:550px) {
    .picture-wrapper {
        background-position: 44px 45px;
        padding-top: 74px;
    }

    .picture-right {
        width: 80%;
    }

    section.our-services .container {
        padding: 60px 0px;
    }

    .our-services .title h2.section-title {
        width: 100%;
    }

    .image-wrapper {
        margin-top: 0;
    }

    img.services-image {
        width: 80%;
    }

    .our-services .price-list {
        width: 80%;
    }

    .one-service {
        width: 86%;
    }

    .price-list {
        justify-content: center;
    }

    .hide {
        display: none;
    }

    .services-top {
        padding-bottom: 0;
    }

    section.our-services .container {
        padding: 0 0px;
    }

    .testimonials .container {
        padding: 60px 0;
    }

    .form-section .form {
        width: 90%;
    }

    .form-section .container {
        padding: 60px 0;
    }

    .our-blog .container {
        padding: 50px 0;
    }

    .benefits .container {
        padding: 60px 0;
    }
}

@media all and (max-width:458px) {

    .services-top,
    .services-bottom {
        padding: 0;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
    }

    .service-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .image-wrapper {
        padding-top: 20px;
    }

}