*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.site-header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    display: block;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.flex-container {
    display: flex;
}